/*
  * Messenger Skin Styles
*/
.conversation_list--messenger {
  list-style: none;
  text-align: left;
}

.conversation_list--messenger .conversation_list_item--messenger--left,
.conversation_list--messenger .conversation_list_item--messenger--right {
  margin: 2px 0 2px 0;
  padding: 10px 15px;
}

.conversation_list--messenger .conversation_list_item--messenger--left {
  border-radius: 5px 25px 25px 5px;
}

.conversation_list--messenger .conversation_list_item--messenger--right {
  border-radius: 25px 5px 5px 25px;
}

/*
  * Telegram Skin Styles
*/
.conversation_list--telegram {
  list-style: none;
  text-align: left;
}

.conversation_list--telegram .conversation_list_item--telegram--left,
.conversation_list--telegram .conversation_list_item--telegram--right {
  margin: 2px 0 2px 0;
  padding: 10px 15px;
}

.conversation_list--telegram .conversation_list_item--telegram--left,
.conversation_list--telegram .conversation_list_item--telegram--right {
  border-radius: 15px 15px 15px 15px;
}

/*
  * Animation classess
*/

.item_slide_in_up {
  animation: slideInUp 0.33s;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    opacity: 0.01;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.typing_dot {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 15px;
    background-color: white;
    margin-right: 2px;
    margin-bottom: 4px;
}

.typing_wrapper .typing_dot:nth-last-child(1) {animation: messenger_wave .6s .1s linear infinite;}
.typing_wrapper .typing_dot:nth-last-child(2) {animation: messenger_wave .6s .2s linear infinite;}
.typing_wrapper .typing_dot:nth-last-child(3) {animation: messenger_wave .6s .3s linear infinite;}

@keyframes messenger_wave {
    0 {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 5px);
    }
    100% {
      transform: translate(0, 0);
    }
}
