/*
  * Messenger Skin Styles
*/
.conversation_list--messenger {
  list-style: none;
  text-align: left;
}

.conversation_list--messenger .conversation_list_item--messenger--left,
.conversation_list--messenger .conversation_list_item--messenger--right {
  margin: 2px 0 2px 0;
  padding: 10px 15px;
}

.conversation_list--messenger .conversation_list_item--messenger--left {
  border-radius: 5px 25px 25px 5px;
}

.conversation_list--messenger .conversation_list_item--messenger--right {
  border-radius: 25px 5px 5px 25px;
}

/*
  * Telegram Skin Styles
*/
.conversation_list--telegram {
  list-style: none;
  text-align: left;
}

.conversation_list--telegram .conversation_list_item--telegram--left,
.conversation_list--telegram .conversation_list_item--telegram--right {
  margin: 2px 0 2px 0;
  padding: 10px 15px;
}

.conversation_list--telegram .conversation_list_item--telegram--left,
.conversation_list--telegram .conversation_list_item--telegram--right {
  border-radius: 15px 15px 15px 15px;
}

/*
  * Animation classess
*/

.item_slide_in_up {
  animation: slideInUp 0.33s;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    opacity: 0.01;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
